<div class="footer_bg mt-1 pb-4">
    <div class="row mx-0" style="background-color: #f7f7f7;">
      <img style="width: inherit;" src="assets/images/stagecoach.svg">
      
    </div>
    <div class="row mx-0">
    <div class="pl-5 mt-4">
      <ul>
        <li>About Wells Fargo</li> |
        <li>Contact Us</li> |
        <li>Privacy</li> |
        <li>SiteMap</li>
      </ul>
    </div>
    <div class="mx-4 mb-2">Member FDIC Securities and Insurance Products not Insured by FDIC or any Federal Government Agency May lose value a Deposit of or Guaranteed by a Bank or any Affiliate Wells Fargo Securities, LLC("WFS") is a U.S. broker-dealer registered with the U.S. Securities and Exchange Commission and a member of the Financial Industry Regulatory Authority and the Securities Invester Protection Corporation. Wells Fargo Securities International Limited is a U.K. incorporated investment firm authorized and regulated by the Financial Conduct Authority.</div>
    </div>
<!-- <hr/> -->
    <mat-divider [inset]="true" class="row mx-4 mt-3"></mat-divider>
    <div class="row mx-4 mt-3">Copyright © 2020-2021 Wells Fargo Bank, N.A. All rights reserved</div>
    </div>