<div class="pt-2 px-5">
     <button type="button" class="text-left col-sm-4 bg_primary" color='primary' (mouseenter)="isShowContent=true"
          mat-raised-button>
          <mat-icon>add</mat-icon> New
          <mat-icon class="float-right mt-2" *ngIf="!isShowContent" matSuffix>keyboard_arrow_right</mat-icon>
          <mat-icon class="float-right mt-2" *ngIf="isShowContent" matSuffix>keyboard_arrow_down</mat-icon>
     </button>
     <div class="row mx-0 mt-4" *ngIf="isShowContent">
          <div class="col-sm-2 p-0 card menu_style">
               <mat-list role="list" class="p-0">
                    <a (click)="menuSelectedOption=menuptions.PITCH_CREATION" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.PITCH_CREATION}">
                              {{menuptions.PITCH_CREATION}}</mat-list-item>
                    </a>
                    <a (click)="menuSelectedOption=menuptions.NON_PRODUCT_SPECIFIC_PITCH" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.NON_PRODUCT_SPECIFIC_PITCH}">
                              {{menuptions.NON_PRODUCT_SPECIFIC_PITCH}}</mat-list-item>
                    </a>
                    <a (click)="menuSelectedOption=menuptions.STANDARD_FOLDER" class="cursor-pointer">
                         <mat-list-item role="listitem" class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.STANDARD_FOLDER}">
                              {{menuptions.STANDARD_FOLDER}}</mat-list-item>
                    </a>
               
                    <a (click)="menuSelectedOption=menuptions.CREDIT_TRANSACTION_FOLDER" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.CREDIT_TRANSACTION_FOLDER}">
                              {{menuptions.CREDIT_TRANSACTION_FOLDER}}</mat-list-item>
                    </a>
                    
                    <a (click)="menuSelectedOption=menuptions.RESTRICTED_FOLDER" class="cursor-pointer" *ngIf="userRoles.ADMIN == app.userDetails.Role">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.RESTRICTED_FOLDER}">
                              {{menuptions.RESTRICTED_FOLDER}}</mat-list-item>
                    </a>
                    <a (click)="menuSelectedOption=menuptions.RLATIONSHIP_FOLDER" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.RLATIONSHIP_FOLDER}">
                              {{menuptions.RLATIONSHIP_FOLDER}}</mat-list-item>
                    </a>
                    
                    <a (click)="menuSelectedOption=menuptions.ADD_CLIENT" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.ADD_CLIENT}">
                              {{menuptions.ADD_CLIENT}}</mat-list-item>
                    </a>
                    <a (click)="menuSelectedOption=menuptions.USER_MANAGEMENT" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.USER_MANAGEMENT}">
                              {{menuptions.USER_MANAGEMENT}}</mat-list-item>
                    </a>
                    <a (click)="menuSelectedOption=menuptions.CLIENT_MANAGEMENT" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.CLIENT_MANAGEMENT}">
                              {{menuptions.CLIENT_MANAGEMENT}}</mat-list-item>
                    </a>
                    <a (click)="menuSelectedOption=menuptions.REPORTS" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.REPORTS}">
                              {{menuptions.REPORTS}}</mat-list-item>
                    </a>
                    
                    <a (click)="menuSelectedOption=menuptions.EXCEL_REPORTS" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.EXCEL_REPORTS}">
                              {{menuptions.EXCEL_REPORTS}}</mat-list-item>
                    </a>

                    <a (click)="menuSelectedOption=menuptions.CREDIT_ACTION" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.CREDIT_ACTION}">
                              {{menuptions.CREDIT_ACTION}}</mat-list-item>
                    </a>
                    <a (click)="menuSelectedOption=menuptions.ADD_GICG_CLIENT" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.ADD_GICG_CLIENT}">
                              {{menuptions.ADD_GICG_CLIENT}}</mat-list-item>
                    </a>
                    
                    <a (click)="menuSelectedOption=menuptions.RECYCLE_BIN" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.RECYCLE_BIN}">
                              {{menuptions.RECYCLE_BIN}}</mat-list-item>
                    </a>
               </mat-list>
          </div>

          <div class="col ml-3 card" *ngIf="menuSelectedOption !=''">
               
               <div *ngIf="menuSelectedOption == menuptions.ADD_GICG_CLIENT">
                    <app-creditaction></app-creditaction>
               </div>
               <div *ngIf="menuSelectedOption == menuptions.CREDIT_ACTION">
                    <app-creditaction></app-creditaction>
               </div>
               <div *ngIf="menuSelectedOption == menuptions.REPORTS">
                    <app-reports></app-reports>
               </div>
               <div *ngIf="menuSelectedOption == menuptions.EXCEL_REPORTS">
                    <app-excelreports></app-excelreports>
               </div>
               <div *ngIf="menuSelectedOption == menuptions.PITCH_CREATION">
                    <app-pitchcreation></app-pitchcreation>
               </div>
               <div *ngIf="menuSelectedOption == menuptions.CLIENT_MANAGEMENT">
                    <app-manageclient></app-manageclient>
               </div>
               <div *ngIf="menuSelectedOption == menuptions.NON_PRODUCT_SPECIFIC_PITCH">
                    <app-non-productspecifcpitchcreation></app-non-productspecifcpitchcreation>
               </div>
               <div *ngIf="menuSelectedOption == menuptions.RLATIONSHIP_FOLDER">
                    <app-relationshipcreation></app-relationshipcreation>
               </div>
               <div  *ngIf="menuSelectedOption == menuptions.CREDIT_TRANSACTION_FOLDER">
                    <app-credittransaction></app-credittransaction>
               </div>
               <div  *ngIf="menuSelectedOption == menuptions.ADD_CLIENT">
                    <app-addclient></app-addclient>
               </div>
               <div  *ngIf="menuSelectedOption == menuptions.USER_MANAGEMENT">
                    <app-usermanagement></app-usermanagement>
               </div>
               
               <div  *ngIf="menuSelectedOption == menuptions.RECYCLE_BIN">
                    <app-recyclebin></app-recyclebin>
               </div>
          </div>

     </div>
    
    
</div>
<div class="row mx-0">
     <div class="col-md-2"></div>
     <div class="col-md-10 ">
     <ul class="input-group pl-0">
          <li *ngFor="let bread of breadcumb;let i=index" class="list-inline mr-2 " [ngClass]="{'bread_color cursor-pointer': i != breadcumb.length-1}" (click)="i != breadcumb.length-1 ? breadcumevent(bread.id,bread.name,i) : false">
{{bread.name}}
          </li>
     </ul>
</div>
</div>
<div class="row mx-0">
     <div class="col-md-2">
     <cdk-virtual-scroll-viewport class="viewport" [itemSize]="10">
         <div class="card">
          <div *cdkVirtualFor="let item of files1" class="pl-1">
              <div class="cursor-pointer" [ngClass]="{'text-monospace bread_color': selectedRoot == item.label}">
                  <div class="input-group mt-3" (click)="getChild(item.data,item.label,true,false);selectedRoot=item.label"  >
                      <div [ngClass]="item.collapsedIcon" class="ml-2 cursor-pointer text-warning">
                         <mat-icon>folder</mat-icon>
                      </div>
                      <div class="ml-1 cursor-pointer">
                          {{item.label}}
                      </div>
                  </div>
              </div>
          </div>
     </div>
      </cdk-virtual-scroll-viewport>
     </div>
     <div class="col-md-10">
          <div class="row mr-0 card">
          <cdk-virtual-scroll-viewport class="viewport_child card" [itemSize]="10">
               <div *ngIf="isLoading" class="text-center border"><i class="fa fa-spinner"></i>loading...</div>
               <mat-grid-list cols="9" rowHeight="2:1" >
               <div *cdkVirtualFor="let item of childs" class="pl-1">
                         <mat-grid-tile>
                               <div class="cursor-pointer list-inline">
                              <div class="row mx-0" (click)="getChild(item.data,item.label,false,false)">
                                  <div [ngClass]="item.collapsedIcon" class="mx-0 px-0 cursor-pointer text-warning">
                                     <mat-icon>folder</mat-icon>
                                  </div>
                                  <div class="cursor-pointer ml-2 px-0">
                                      {{item.label}}
                                  </div>
                              </div>
                          </div>
                         </mat-grid-tile>
               </div>
          </mat-grid-list>
           </cdk-virtual-scroll-viewport>
          </div>
     </div>
</div>