<div class="pt-2 px-5">
     <button type="button" class="text-left col-sm-4 bg_primary" color='primary' (mouseenter)="isShowContent=true"
          mat-raised-button>
          <mat-icon>add</mat-icon> New
          <mat-icon class="float-right mt-2" *ngIf="!isShowContent" matSuffix>keyboard_arrow_right</mat-icon>
          <mat-icon class="float-right mt-2" *ngIf="isShowContent" matSuffix>keyboard_arrow_down</mat-icon>
     </button>
     <div class="row mx-0 mt-4" *ngIf="isShowContent">
          <div class="col-sm-2 p-0 card menu_style">
               <mat-list role="list" class="p-0">
                    <a (click)="menuSelectedOption=menuptions.PITCH_CREATION" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.PITCH_CREATION}">
                              {{menuptions.PITCH_CREATION}}</mat-list-item>
                    </a>
                    <a (click)="menuSelectedOption=menuptions.STANDARD_FOLDER" class="cursor-pointer">
                         <mat-list-item role="listitem" class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.STANDARD_FOLDER}">
                              {{menuptions.STANDARD_FOLDER}}</mat-list-item>
                    </a>
               
                    <a (click)="menuSelectedOption=menuptions.CREDIT_TRANSACTION_FOLDER" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.CREDIT_TRANSACTION_FOLDER}">
                              {{menuptions.CREDIT_TRANSACTION_FOLDER}}</mat-list-item>
                    </a>
                    
                    <a (click)="menuSelectedOption=menuptions.RESTRUCTED_FOLDER" class="cursor-pointer" *ngIf="userRoles.ADMIN == app.userDetails.Role">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.RESTRUCTED_FOLDER}">
                              {{menuptions.RESTRICTED_FOLDER}}</mat-list-item>
                    </a>
               </mat-list>
          </div>

          <div class="col-sm-9 ml-3 card mb-5" *ngIf="menuSelectedOption !=''">
               <div *ngIf="menuSelectedOption == menuptions.PITCH_CREATION">
                    <app-pitchcreation></app-pitchcreation>
               </div>
          </div>

     </div>
    
</div>