<div class="pt-2 px-5">
     <button type="button" class="text-left col-sm-4 bg_primary" color='primary' (mouseenter)="isShowContent=true"
          mat-raised-button>
          <mat-icon>add</mat-icon> New
          <mat-icon class="float-right mt-2" *ngIf="!isShowContent" matSuffix>keyboard_arrow_right</mat-icon>
          <mat-icon class="float-right mt-2" *ngIf="isShowContent" matSuffix>keyboard_arrow_down</mat-icon>
     </button>
     <div class="row mx-0 mt-4" *ngIf="isShowContent">
          <div class="col-sm-2 p-0 card menu_style">
               <mat-list role="list" class="p-0">
                    <a (click)="menuSelectedOption=menuptions.PITCH_CREATION" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.PITCH_CREATION}">
                              {{menuptions.PITCH_CREATION}}</mat-list-item>
                    </a>
                    <a (click)="menuSelectedOption=menuptions.STANDARD_FOLDER" class="cursor-pointer">
                         <mat-list-item role="listitem" class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.STANDARD_FOLDER}">
                              {{menuptions.STANDARD_FOLDER}}</mat-list-item>
                    </a>
               
                    <a (click)="menuSelectedOption=menuptions.CREDIT_TRANSACTION_FOLDER" class="cursor-pointer">
                         <mat-list-item role="listitem"  class="border_bottom"
                              [ngClass]="{'bg_primary': menuSelectedOption == menuptions.CREDIT_TRANSACTION_FOLDER}">
                              {{menuptions.CREDIT_TRANSACTION_FOLDER}}</mat-list-item>
                    </a>
               </mat-list>
          </div>

          <div class="col-sm-9 ml-3 card mb-5" *ngIf="menuSelectedOption !=''">
               <div *ngIf="menuSelectedOption == menuptions.PITCH_CREATION">
                    <app-pitchcreation></app-pitchcreation>
               </div>
          </div>

     </div>
     <div id="main-content" *ngIf="dummy" class="mt-3 mb-5 card mat-elevation-z3">
          <mat-tab-group (selectedTabChange)="onTabChange($event)">
               <mat-tab label="Pitch Creation">
                    <div class=" mt-4 ml-2">
                         <div class="container">
                              <form class="" [formGroup]="pitchCreationForm">
                                   <div class="row mx-0">
                                        <mat-form-field class="w-100 ">
                                             <input type="text" formControlName="Name" matInput placeholder="Name"
                                                  required>
                                        </mat-form-field>
                                        <mat-form-field class="w-100">
                                             <input matInput [matDatepicker]="picker" formControlName="PitchDate"
                                                  placeholder="Pitch Date" required>
                                             <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
                                             <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                        <fieldset class="mt-2 mb-2 w-100 fieldset_style">
                                             <legend class="px-1 ml-2 legend_style"> Pitch Information</legend>
                                             <fieldset class="mt-2 mb-2 mx-2 fieldset_style">
                                                  <legend class="px-1 ml-2 legend_style">Relationship Information
                                                  </legend>
                                                  <div class="mx-4">
                                                       <mat-form-field class="w-100">
                                                            <input matInput placeholder="Industry"
                                                                 formControlName="Industry" aria-label="Industry"
                                                                 [matAutocomplete]="autoIndustry" required>
                                                            <mat-autocomplete #autoIndustry="matAutocomplete">
                                                                 <mat-option *ngFor="let industry of industryJson "
                                                                      [value]="industry.Value">
                                                                      <small>{{industry.Name}}</small>
                                                                 </mat-option>
                                                            </mat-autocomplete>
                                                       </mat-form-field>
                                                       <mat-form-field class="w-100">
                                                            <input matInput placeholder="Client Name"
                                                                 formControlName="ClientName" aria-label="Client Name"
                                                                 [matAutocomplete]="autoClient" required>
                                                            <mat-autocomplete #autoClient="matAutocomplete">
                                                                 <mat-option *ngFor="let client of clientNamesJson "
                                                                      [value]="client.Value">
                                                                      <small>{{client.Name}}</small>
                                                                 </mat-option>
                                                            </mat-autocomplete>
                                                       </mat-form-field>
                                                  </div>
                                             </fieldset>
                                             <fieldset class="mt-2 mb-2 mx-2 fieldset_style">
                                                  <legend class="px-1 ml-2 legend_style">Product Information</legend>
                                                  <div class="row mx-1">
                                                       <mat-icon (click)="addProductInfoForm()"
                                                            class="float-right mx-4 mb-2 bg_primary cursor-pointer"
                                                            *ngIf="!productInfoForm.invalid">add</mat-icon>
                                                  </div>
                                                  <div class="mx-4  mb-2 fieldset_style"
                                                       *ngFor="let productForm of productInfoForm.controls; let i=index">
                                                       <div [formGroup]="productForm" class="row m-0 mt-1">
                                                            <div class="col-sm-2 mt-1">
                                                                 <mat-form-field class="w-100">
                                                                      <input matInput formControlName="CPL1"
                                                                           placeholder="CPL1" aria-label="CPL1"
                                                                           [matAutocomplete]="autoCPL1" required>
                                                                      <mat-autocomplete #autoCPL1="matAutocomplete">
                                                                           <mat-option *ngFor="let cpl1 of cpl2Json "
                                                                                [value]="cpl1.Value">
                                                                                <small>{{cpl1.Name}}</small>
                                                                           </mat-option>
                                                                      </mat-autocomplete>
                                                                 </mat-form-field>
                                                            </div>
                                                            <div class="col-sm-9 mt-1">
                                                                 <mat-form-field class="w-100">
                                                                      <input matInput formControlName="CPL2"
                                                                           placeholder="CPL2" aria-label="CPL2"
                                                                           [matAutocomplete]="autoCPL2" required>
                                                                      <mat-autocomplete #autoCPL2="matAutocomplete">
                                                                           <mat-option *ngFor="let cpl2 of cpl2Json "
                                                                                [value]="cpl2.Value">
                                                                                <small>{{cpl2.Name}}</small>
                                                                           </mat-option>
                                                                      </mat-autocomplete>
                                                                 </mat-form-field>
                                                            </div>
                                                            <div class="col-sm-1 mt-3 text-danger cursor-pointer">
                                                                 <mat-icon (click)="removeProductInfoForm(i)"
                                                                      *ngIf="i!=0">close</mat-icon>

                                                            </div>
                                                       </div>
                                                  </div>
                                             </fieldset>
                                             <fieldset class="mt-2 mb-2 mx-2 fieldset_style">
                                                  <legend class="px-1 ml-2 legend_style">Team Information</legend>
                                                  <div class="mx-4 row">

                                                       <div class="col-sm">
                                                            <mat-form-field class="w-100">
                                                                 <textarea style="height:100px"
                                                                      formControlName="TeamInfo" matInput
                                                                      placeholder="Pitch Team" required></textarea>
                                                            </mat-form-field>
                                                       </div>
                                                       <div class=" card mb-3">
                                                            <div>
                                                                 <mat-icon (click)="openDialog()"
                                                                      class="font-weight-bold cursor-pointer"
                                                                      style="color: forestgreen;">more_vert</mat-icon>
                                                            </div>
                                                            <div>
                                                                 <mat-icon class="font-weight-bold cursor-pointer"
                                                                      style="color: forestgreen;">close</mat-icon>
                                                            </div>
                                                       </div>
                                                  </div>
                                                  <div class="mx-4 row mt-4">
                                                       <div class="col-sm">
                                                            <mat-form-field class="w-100">
                                                                 <textarea style="height:100px"
                                                                      formControlName="AdditionalTeamInfo" matInput
                                                                      placeholder="Additional Pitch Team"></textarea>
                                                            </mat-form-field>
                                                       </div>
                                                       <div class="card mb-3">
                                                            <div>
                                                                 <mat-icon class="font-weight-bold cursor-pointer"
                                                                      style="color: forestgreen;">more_vert</mat-icon>
                                                            </div>
                                                            <div>
                                                                 <mat-icon class="font-weight-bold cursor-pointer"
                                                                      style="color: forestgreen;">close</mat-icon>
                                                            </div>
                                                       </div>
                                                  </div>
                                             </fieldset>
                                        </fieldset>
                                   </div>
                                   <div class="mr-2 mb-5">
                                        <mat-spinner-button style="border-radius: 5px"
                                             class="text-left  bg_primary float-right"
                                             [options]="pitchSpinnerButtonOptions" (btnClick)="createResource()">
                                        </mat-spinner-button>
                                   </div>
                              </form>
                         </div>
                    </div>
               </mat-tab>
               <mat-tab label="Edit Properties">
                    <div class="mt-2 ml-3">
                         Edit Properties
                    </div>
               </mat-tab>

          </mat-tab-group>
     </div>
</div>