<!-- <div class="container mt-5"> -->
        
    <!-- <form [frmGroup]="loginForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" placeholder="Enter email here"/>
        <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
        <div *ngIf="fval.email.errors.required">Email is required</div>
        <div *ngIf="fval.email.errors.email">Enter valid email address</div>
        </div>
        </div>
        <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }" placeholder="Enter password here" />
        <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
        <div *ngIf="fval.password.errors.required">Password is required</div>
        </div>
        </div>
        <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Login
        </button>
        <a routerLink="/register" class="btn btn-link">Register</a>
        </div>
        </form> -->
    <mat-card class="mat-elevation-z3 px-5">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            
            <form [formGroup]="loginForm" >
                <div *ngIf="errorMsg" class="text-center mb-3 mt-1">
                    <label class="text-danger">{{errorMsg}}</label>
                </div>
              <div>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Username" formControlName="email" required>
                    </mat-form-field>
                    <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                        <div *ngIf="fval.email.errors.required">Email is required</div>
                        <div *ngIf="fval.email.errors.email">Enter valid email address</div>
                    </div>
                </div>
                    <div>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Password" formControlName="password" required>
                    </mat-form-field>
                    <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
                        <div *ngIf="fval.password.errors.required">Password is required</div>
                    </div>
                </div>
                
                        <div>
                                <mat-spinner-button style="border-radius: 5px" class="float-right"
                                [options]="spinnerButtonOptions"
                                (btnClick)="onFormSubmit()">
                              </mat-spinner-button>
                            <!-- <button type="button" class="bg_primary float-right" mat-raised-button  (click)="onFormSubmit()">Login</button> -->

                        </div>      
            </form>
        </mat-card-content>
        <!-- <mat-card-footer class="p-3">
                        <button type="button" class="bg_primary" mat-raised-button  (click)="onFormSubmit()">Login</button>
    
        </mat-card-footer> -->
    </mat-card>


<!-- </div> -->

