<div id="main-content" class="mt-3 mb-5">
    <div class=" mt-4 ml-2">
        <div class="container">
            <form class="" [formGroup]="_Non_ProductSpecificForm" #myForm="ngForm">
                <div class="row mx-0">
                    <mat-form-field class="w-100 ">
                        <input type="text" formControlName="PitchName" matInput placeholder="Pitch Name" required>
                    </mat-form-field>
                    <div class="text-danger"
                        *ngIf="f.PitchName.invalid && f.PitchName.errors.required &&  f.PitchName.touched && isSubmitted">
                        Name Required.
                    </div>
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker"  #pickerInput [min]='pitchMinDate'
                            formControlName="PitchDate" placeholder="Pitch Date" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <!-- <div class="text-danger"
                        *ngIf="f.PitchDate.invalid && f.PitchDate.errors.required && f.PitchDate.touched && isSubmitted">
                        Pitch date Required.
                    </div> -->
                    <!-- <div class="text-danger"
                        *ngIf="f.PitchDate.invalid && f.PitchDate.touched && f.PitchDate.errors?.matDatepickerMin">
                        Selected Pitch Date is less than today date.
                    </div> -->
                    <div class="text-danger"
                        *ngIf="f.PitchDate.invalid && f.PitchDate.errors.required && (f.PitchDate.touched || isSubmitted)">
                        {{getErrorMessage(pickerInput.value)}}
                    </div>

                    <div class="w-100 mt-3">
                        <div class="mx-0 row">
                            <div class="mt-1 font-weight-bold">Team Info : </div>
                            <div class="col-sm-7 pl-3">
                                <angular2-multiselect formControlName="TeamInfo" [data]="teamInfoJson"
                                    [settings]="teamInfoDropdownSettings" (onSelect)="onItemSelect($event)"
                                    (onSelectAll)="onSelectAll($event)">
                                </angular2-multiselect>
                            </div>
                            <div class="card col-sm-4" style="max-height: 150px;
                                                overflow: auto;" *ngIf="f.TeamInfo.valid">
                                <label class="font-weight-bold">Selected Team Info</label>
                                <label class="w-100 pl-3" *ngFor="let team of f.TeamInfo?.value; let i=index;">
                                    <span>{{i+1}}. {{team.Name}}</span>
                                </label>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="f.TeamInfo.invalid  && f.TeamInfo.touched && isSubmitted">
                            TeamInfo Required.
                        </div>
                    </div>
                    <div class="w-100 mt-3">
                        <div class="row mx-0">
                            <div class="font-weight-bold">Pitch Status : </div>
                            <div class="col-sm-11 p-0 pl-3">Pitched</div>
                        </div>
                    </div>
                    <div class="w-100 mt-3">
                        <div class="row mx-0">
                            <div class="font-weight-bold">Pitch Client : </div>
                            <div class="col-sm-11 p-0 pl-3">1-800 Flowers Inc.</div>
                        </div>
                    </div>
                    <div class="w-100 mt-5 mb-5">
                        <div class="row mx-0 border bg_primary">
                            <div class="col-sm-4 font-weight-bold border">CPL1 </div>
                            <div class="col-sm-4 font-weight-bold border">CPL2</div>
                            <div class="col-sm-4 font-weight-bold border">CPL3</div>
                        </div>
                        <div class="row mx-0 border">
                            <div class="col-sm-4 border">Non-Product Specific </div>
                            <div class="col-sm-4 border">Non-Product Specific</div>
                            <div class="col-sm-4 border">Non-Product Specific</div>
                        </div>
                    </div>
                </div>

                <div class="mr-2 mb-5">
                    <mat-spinner-button style="border-radius: 5px" class="text-left float-right ml-3"
                        [options]="cancelSpinnerButtonOptions" (btnClick)="cancelNonProductSpecific(myForm)">
                    </mat-spinner-button>
                    <mat-spinner-button style="border-radius: 5px" class="text-left float-right "
                        [options]="createSpinnerButtonOptions" (btnClick)="createNonProductSpecific(myForm)">
                    </mat-spinner-button>
                </div>
            </form>
        </div>
    </div>
</div>